<!-- -->
<div *ngIf="pagePath === 'HOMEPAGE'" class="main-content-wrapper">

</div>
<div *ngIf="pagePath === 'FALLRIDE,CAUSEINFO'" class="main-content-wrapper"></div>
<div *ngIf="pagePath === 'FALLRIDE,EVENTINFO'" class="main-content-wrapper"></div>
<div *ngIf="pagePath === 'SPRINGRIDE,CAUSEINFO'" class="main-content-wrapper"></div>
<div *ngIf="pagePath === 'SPRINGRIDE,EVENTINFO'" class="main-content-wrapper"></div>
<div *ngIf="pagePath === 'ABOUTUS,OURGOAL'" class="main-content-wrapper">
  <h1>Our Goal</h1>
  <p>Bike4Beds is a nonprofit organization that hosts a Fall and Spring bike event every year to raise funds for the
    current years cause. Our first event was in 2008. Matt Ritz, founder of Bike4Beds, had the idea to organize a bike
    ride for charity when he learned of the deteriorated conditions of the equipment at the Maluti Hospital, particularly
    of the patients’ beds. Akoua Enow was in her second year raising AIDS awareness with the Peace Corps. and communicated
    the need for assistance at the Hospital. Our first bike ride through New Jersey was successful and we purchased 42
    beds for the hospital and its patients! The ‘Bike4Beds’ name stuck and membership grew each year as event popularity
    spread. Bike4Beds was granted Federal Non-Profit status on March 1, 2011. In our 6 years we have donated over $20,000
    dollars to our beneficiaries. We continue to update our events with new routes and options, in order to engage more
    bikers and encourage new membership.</p>
  <p>In 2009 we donated supplies to the Dispensaire de Hiheatrowe. We were made aware of the need for assistance from a
    close family member, Kossiwa Lonergan. Kossiwa had first hand exposure to the dispensaire and its’ current condition
    while visiting her home country of Togo in 2009. In 2010 we began our four year running sponsorship of the Cavaillon
    Orphanage, run by the Sisters of Charity of Saint-Hyacinthe. Maguey O’Connor, a good family friend, suggested this
    beneficiary from her experience growing up in Haiti. The Cavaillon Orphange relies solely on donations to support
    their 25 students. Donating to this organization for four years in a row allows our bikers, sponsors and volunteers
    to feel focused in their efforts to make the world a better place, one community at a time.</p>
  <p>Bike4Beds recently brought on a team of chief officers, tasked with taking our organization to the next level. We are
    working towards expanding our options and events, gaining new membership and ultimately expanding our scope of
    support. Get ready for exciting new changes coming soon!</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,OURCHARITY'" class="main-content-wrapper">
  <h1>Our Charity</h1>
  <p>This year we are riding to support the academic and health services of the Cavaillon Orphange and the All of God’s
    Children Orphanage in Haiti.</p>
  <p>100% of the funds raised by this Bike4Beds event will assist the Cavailon Orphange provide tuition, school
    supplies, school uniforms, food, and medical items for their orphans as well as fund an exciting IT education
    program at the All of God’s Children Orphanage elementary school.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THEBIKERIDE'" class="main-content-wrapper">
  <h1>The Bike Ride</h1>
  <p>This upcoming event includes a variety of scenic routes, ranging from 25 miles to a full century ride from eastern
    NJ down to Wildwood.</p>
  <p>This is a fun bike ride all the way from the countryside to the boardwalk; many of our friends and family return
    every year.</p>
  <p>Join us for an early spring tour of what the garden state has to offer cyclists of all ages and abilities.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,YOURSUPPORT'" class="main-content-wrapper">
  <h1>Your Support</h1>
  <p>Bike4Beds is able to make a positive impact thanks to the generosity of our donors, enthusiasm from our bike
    riders, and selfless assistance from our volunteers.</p>
  <p>We are deeply grateful to everyone who has helped us in the previous years in our efforts to assist the Cavaillon
    Orphanage, the Dispensaire de Hiheatro in Hiheatro, Togo and the Maluti Hospital in the Kingdom of Lesotho.</p>
  <p>Register to bike, sign up to volunteer, sponsor a biker, or simply like us on Facebook and help us continue to
    support schools and hospitals, and dispensaries in communities across the world.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,FINANCES'" class="main-content-wrapper">
  <h1>Finances</h1>
  <p>Through group bike rides, Bike4Beds raises funds and gives 100% of the donations to empower partnered organizations
    of underprivileged communities.</p>
  <p><b>How do we give 100% donations to the cause?</b></p>
  <p>We believe in volunteerism. Excellent talent that can be harnessed by people who want to share this talent towards
    causes they believe in. We don’t have any salaried employees. However, we still accrue costs like paying to host
    this site.</p>
  <p>We break our donations down into two categories (Restricted and Unrestricted). All donations are categorized as
    restricted except for biking event fees (this amount is noted during the sign-up process), and Bike4Bed board member
    gifts.</p>
  <ol>
    <li><b>Restricted</b> – All donations are categorized as restricted except for those deemed unrestricted. 100% of these
      funds go directly to the cause.</li>
    <li><b>Unrestricted</b> - Biking event fees (this amount is noted during the sign-up process), and Bike4Bed board member
      gifts. These pay for the event costs, and operating costs.</li>
  </ol>
  <h2>2014 Financial Documents</h2>
  <h5><a href="https://www.dropbox.com/s/ybzmojicurazzow/B4B-2014-SFP.pdf?dl=0">Statement of Financial Position</a></h5>
  <h5><a href="https://www.dropbox.com/s/28bgg9yytg78wvo/B4B-2014-SOA.pdf?dl=0">Statement of Activities</a></h5>
  <h2>2013 Financial Documents</h2>
  <h5><a href="https://www.dropbox.com/s/8qv0j3u3yssej3y/2013-B4B-SFP.docx?dl=0">Statement of Financial Position</a></h5>
  <h5><a href="https://www.dropbox.com/s/2ldhvbacji40224/B4B-2013-SOA.docx?dl=0">Statement of Activities</a></h5>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,AKOUAENOW'" class="main-content-wrapper">
  <h1>Akoua Enow - Chief Operating Officer</h1>
  <p>Growing up, I always had a burning desire to live and work abroad in Africa. When I finished college, I applied for
    the Peace Corps Master’s International Program. For two semesters, I took graduate classes and in June 2007, I
    boarded my flight to Lesotho, Southern Africa to start my service. I sent emails to family and friends telling my
    experiences to maintain ties with home and fulfill
    <a href="https://www.peacecorps.gov/returned-volunteers/share-your-experience/register-third-goal-event/">the third
      goal of Peace Corps</a>. My stories and a visit from my parents and brother sparked a sense of community among my
    American and Basotho families.</p>
  <p>My uncle approached me about raising money for Maluti Adventist Hospital, my host organization. He planned to host
    a bike ride and give 100% of the donations to the hospital. Matt asked me to collaborate with the hospital
    administration to identify a need. In partnership, we decided to buy adult and pediatric beds for the patients. And
    that’s how the organization got its name — Bike4Beds.</p>
  <p>Now, I support the Bike4Beds as a “cyclist” and the Chief Operating Officer. The group rides are a great excuse to
    have fun while also fulfilling my passion to uplift humanity. Khotso, Pula, Nala!</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,ALARICECESAREOLONERGAN'" class="main-content-wrapper">
  <h1>Alarice Cesareo Lonergan - Chief Marketing Officer</h1>
  <p>In her role as CMO, Alarice seeks to create awareness and support for Bike4Beds by promoting and advertising the
    achievements and benefits of the organization.</p>
  <p>Alarice’s journey to Bike4Beds started at the early age of 5, but she didn’t know it then. Alarice could be found
    riding laps around the block on her hot pink and white Huffy bicycle with her friends and family (yes, you know you
    had one too, thought maybe not in pink). Her first ride for Bike4Beds was the year of the organization’s formation
    in 2010, alongside her friends and family. This first ride was especially important given we rode to support the
    hospital that her sister-in-law volunteered at in Lesotho. One of the most memorable rides was biking 50 miles
    through the Pennsylvania valley alongside her husband, and best friends on a treacherous ride up and down the hills
    and valleys. For Alarice, Bike4Beds has always been about the people she gets to share the road with and the people
    that each ride supports.</p>
  <p>She is also an active member of <a href="http://www.womeninamerica.net/" >W.O.M.E.N. in America</a>, a professional
    development group aimed at advancing
    promising professional women with exclusive mentoring, education and networking in a three year program. She looks
    forward to giving back to the community in her role as CMO of Bike4Beds.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,JESSICARITZ'" class="main-content-wrapper">
  <h1>Jessica Ritz - Chief Content Officer</h1>
  <p>Jessica participated in her first Bike4Beds event in the Fall of 2008. It was a rousing adventure, watching friends
    and family break out of their comfort zones to bike further for the cause. Although everyone contributed with
    different skills and abilities, each individual went the extra mile to make the day a success. We were able to
    provide much needed beds for the patients at the Maluti Aventist Hospital. The positive energy generated from that
    event radiated well beyond the finish line; keeping Jessica excited for the next opportunity to participate and
    give. It wasn’t long before she realized that she wanted to help the Bike4Beds community grow and make a significant
    impact in more lives.</p>
  <p>Despite studying Poetry at The University of Pittsburgh, Jessica went in a different direction after college with a
    job in IT Sales with 1&1 Internet. As the CCO of Bike4Beds, she combines her growing knowledge of web hosting, SEO
    and online success with her love for creative writing. Her long term goal is to communicate the unique story and
    vision of Bike4Beds to help the organization flourish. Her short term goal is not to fall off of her bike at the
    Spring 2014 event. She and Joe, the CFO, met in college and are now Bike4Beds’ sweethearts. They live in the Greater
    Northeast of Philadelphia and enjoy slow pitch softball, the Phighting Phils and trying out local microbreweries.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,JOEKURIGER'" class="main-content-wrapper">
  <h1>Joe Kuriger - Volunteer</h1>
  <p>Joe’s journey with Bike4Beds began in 2011 when he joined his girlfriend Jessi at a family charity event. Far from
    a biker, and let alone a cycling enthusiast, he had no idea how one ill-conceived attempt to ride 50 miles on a
    mountain bike would change his life. Not long after that fateful first ride, Joe was actively training for the
    bi-annual events and had even purchased his own street bike.</p>
  <p>Beyond participation over the years, Joe learned a great deal about Bike4Beds; not only their story, but their
    mission to supply much needed humanitarian aid through the power of community-based events.</p>
  <p>After the 2013 Fall Event, Joe decided to up his contribution to the cause, volunteering to help the biking events
    run smoothly.</p>
  <p>When not working with Bike4Beds, Joe is a financial analyst for his company’s small business banking division. In
    addition to (now) being an avid cyclist, Joe enjoys playing golf and skiing. He lives in Cheltenham, PA with his
    girlfriend in the house they purchased together in 2013.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,KOMLANLONERGAN'" class="main-content-wrapper">
  <h1>Komlan Lonergan - Chief Program Officer</h1>
  <p>As CPO, Komlan seeks to identify organizations with products or services that align with our core mission and
    values. He also initiates, manages, and fosters partnerships with these organizations.</p>
  <p>Komlan's journey to Bike4Beds started in 2009, when he visited his sister, Akoua, during her Peace Corps Mission
    in Lesotho. He witnessed the dearth of the patient beds at the Maluti Hospital that inspired the first B4B's 100
    mile bike ride fundraiser. To honor Akoua's mission, Komlan published the weekly newsletters she composed during
    her mission. The memoir,
    <a href="http://www.lulu.com/us/en/shop/akoua-lonergan/the-mapheleng-sunrise/ebook/product-17397737.html" >
      The Mapheleng Sunrise</a>, is available on Lulu.com for your reading pleasure.</p>
  <p>Komlan holds a BA in Government from the College of William and Mary and MS in Global Affairs from New York
    University. His professional experience includes project management and capacity building for global NGOs.</p>
  <p>Komlan's photo captures an intense AND memorable moment during a White Nile whitewater rafting excursion in
    Uganda.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,LEWISRITZ'" class="main-content-wrapper">
  <h1>Lewis Ritz - Chief Technical Officer</h1>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,BOBOCONNOR'" class="main-content-wrapper">
  <h1>Bob O'Connor - Board Member</h1>
  <p>Bob O'Connor has been helping Bike4Beds since its inception in 2008. He provides chase-car support for bikers who
    need timely sustenance and respite, a tire puncture repaired, vigorous moral encouragement, or a guiding light in
    the dark. He also retrieves marker signs with a high rate of success - only one group of bikers lost during all our
    events! And even they were eventually found!</p>
  <p>Bob is a former Peace Corps Volunteer in Togo, West Africa, 1977-79 where he worked in rural development in the
    Animal Traction program --promoting harnessed cattle for cultivation and harvesting among subsistence-level farmers.
    He graduated from the University of Massachusetts with a BA and from Columbia University with an MA. He now works as
    an administrator at Barnard College, Columbia University. He has been married to his lovely wife Magalie since 1986
    and is the father of two grown sons. He enjoys hot-air ballooning (see pic!) and is an aspiring Pacific Ocean cliff
    diver.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,DONLONERGAN'" class="main-content-wrapper">
  <h1>Don Lonergan - Board Member</h1>
  <p>Don, who has never shied away from a good time pursued a volunteer position in the Peace Corps. Embracing the
    Corp's mantra, Don's cup was always more than half full (of beer). After a 2 year stint building schools and
    dispensaries in Togo, West Africa he set out on an extended sojourn through Central and East Africa and ultimately
    ending up in Cape Town at the southern tip of Africa working as a Landscape Architect. Unable to cope with the
    inequities of life under the Apartheid law he returned home to the U.S. to begin a family with his Togolese
    sweetheart, Kossiwa. Kossiwa emigrated to the U.S. in 1982 with their son Komlan. Two years later a daughter, Akoua,
    joined the mix completing the quintessential American family with its strong African roots. In 1986, with some
    strong Lonergan family support, Don started his own design/build landscape construction business. Now, 28 successful
    years later Lehigh Valley Landscape is still transforming landscapes throughout eastern Pennsylvania. Don enjoys
    traveling, visiting friends and family members, playing volleyball, brewing beer, and flying over the Sahara Dessert
    on Google Earth.</p>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,JAYBOYLE'" class="main-content-wrapper">
  <h1>Jay Boyle - Board Member</h1>
</div>
<div *ngIf="pagePath === 'ABOUTUS,THETEAM,MATTRITZ'" class="main-content-wrapper">
  <h1>Matt Ritz - CEO & Board Chairman</h1>
  <p>For Matt Ritz, the experience of nature and the joy of the moment is a very important part of life. He spends his
    free time biking, running, snowboarding and hiking; indulging in the outdoors and maintaining and active lifestyle.
    A few years ago, Matt found a way to bring these exhilarating activities and pleasant, scenic rides to others by
    creating the Bike4Beds organization.</p>
  <p>The first bike ride for charity took root during the fall of 2008 when Matt’s niece Akoua joined the Peace Corps in
    Lesotho to combat the AIDS proliferation in that area. Akoua made her extended family aware of the need for
    assistance for the hospital where she was stationed. She sent pictures of the subpar condition of the hospital beds
    available to patients. Matt was plotting a 100-mile ride through New Jersey's most serene landscapes. Akoua and Matt
    decided to use the ride to the shore to raise funds for new beds for the patients. The bikers travel from quaint
    Jersey towns to the salty sea air on quiet back roads and all the proceeds go towards a great cause. Seven years
    later, the initiative is still going strong; currently benefiting the students of the Cavaillon Orphanage in
    Southern Haiti The route navigates cyclists along winding rivers, serene lakes and ponds; tidy vegetable farms,
    pine wood forests, refreshing bays, pastel painted seaside homes and finally the Atlantic Ocean. Matt envisioned
    using this ride to Wildwood as a charity bike ride to raise funds for the Maluti Aventist hospital. The bikers
    travel from quant Jersey towns through lush countryside to the salty sea air on quiet back roads and all the
    proceeds go towards a great cause. This is how Bike4Beds got its start. Eight years later, the initiative is still
    going strong; currently benefiting the students of the Cavaillon Orphanage in Southern Haiti.</p>
</div>
